/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your CSS or styles */
.bg-custom-dark-blue {
    background-color: #001a33 ; /* Replace with your desired dark blue color value */
}

.bg-landing {
    background-image: url('./assets/images/landing.png');
}


.border-custom-dark-blue {
    border-color: #001a3325 ;
}

.text-custom-dark-blue {
    color: #001a33;
}



